:root {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.bg-auth {
  position: absolute;
  background: url("../img/bg-auth.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-auth {
  background-color: #19191b !important;
  color: white;
}
.card-auth .form-control {
  color: white;
}
.card-auth .form-control:hover,
.card-auth .form-control:focus {
  background-color: #343438;
  color: white;
}
.card-auth .title {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-auth .divider {
  background-color: #fa1212;
  width: 40%;
  height: 4px;
  border-radius: 1rem;
}
.card-auth .btn-auth {
  background-color: #fa1212;
  color: white;
  border-radius: 1.5rem;
}
.card-auth .btn-google {
  background-color: white;
  color: #19191b;
  border-radius: 1.5rem;
}
.card-auth .footer * {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
.card-auth .footer .bg {
  background-color: #19191b;
}
.card-auth .footer .navbar {
  background-color: #19191b;
}
.card-auth .footer .navbar a {
  color: white;
}
.card-auth .footer .navbar a.active {
  color: #fa1212 !important;
  font-weight: bold;
}
.card-auth .footer .navbar .btn-login {
  background-color: #fa1212;
  border: none;
}
.card-auth .footer .navbar .btn-login:hover {
  background-color: #fa1212;
  border: none;
}
.card-auth .footer .card-film {
  height: 334px;
}
.card-auth .footer .card-film .card {
  height: inherit;
  background-image: url("../img/gatot-kaca.png");
  background-size: cover;
  border-radius: 1rem;
}
.card-auth .footer .card-film .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-auth .footer .sub-title {
  border-bottom: 3px solid #fa1212;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
}
.card-auth .footer .bg-auth {
  position: absolute;
  background: url("../img/bg-auth.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-auth .footer .bg-auth .btn-link {
  color: #fa1212;
  text-decoration: none;
}
.card-auth .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.card-auth .input-container .form-control {
  background-color: #343438;
  border: none;
}
.card-auth .input-container i {
  font-size: 1.2rem;
}
.card-auth .jumbotron {
  background-image: url("../img/jumbotron.png");
  color: white;
  background-size: cover;
}
.card-auth .accordion .accordion-item .accordion-button {
  background-color: #343438;
  color: white;
}
.card-auth .accordion .accordion-item .accordion-body {
  background-color: #343438;
}
.card-auth .send-question .form-control,
.card-auth .send-question .form-control:focus {
  background-color: #343438;
  border: none;
  color: white;
}
.card-auth .send-question .btn-send {
  background-color: #fa1212;
  color: white;
}
.card-auth .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.card-auth .input-container .form-control {
  background-color: #343438;
  border: none;
}
.card-auth .input-container i {
  font-size: 1.2rem;
}
.card-auth .form-control,
.card-auth .form-control:focus {
  background-color: #343438 !important;
  border: none !important;
  color: white !important;
}
.card-auth .btn-primary {
  background-color: #fa1212 !important;
  border: none !important;
}
.card-auth .pagination .page-item {
  margin: 0.5rem;
}
.card-auth .pagination .page-link {
  border-radius: 0.5rem;
  border: none;
  background-color: #343438 !important;
  color: white !important;
}
.card-auth .pagination .page-link.active {
  background-color: #fa1212 !important;
}
.card-auth .container-menu {
  border-radius: 1rem;
}
.card-auth .container-menu ul {
  list-style: none;
  padding: 0;
}
.card-auth .container-menu ul li {
  background-color: #19191b;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.card-auth .container-menu ul li a {
  text-decoration: none;
  color: white;
}
.card-auth .card-transaksi {
  background-color: #343438 !important;
}
.card-auth .card-transaksi .card-transaksi-item {
  background-color: #19191b !important;
}
.card-auth .navigation {
  background-color: #000 !important;
}
.card-auth .navigation a {
  text-decoration: none;
  color: white;
}
.card-auth footer .menu {
  list-style: none;
  padding: 0;
}
.card-auth footer .menu a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */