$primaryColor: #19191b;
$secondaryColor: #fa1212;
$tertiaryColor: #343438;

:root {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

// Override
.override {
  .bg-theme-primary {
    background-color: $primaryColor;
  }
  .bg-theme-secondary {
    background-color: $secondaryColor;
  }
  .bg-theme-tertiary {
    background-color: $tertiaryColor;
  }
  .text-theme-primary {
    color: #19191b;
  }
}
// admin
.link-active {
  background-color: $secondaryColor !important;
  color: white !important;
}
.nav-link:hover {
  background-color: $secondaryColor;
  transition: all 0.5s;
}
