$primaryColor: #19191b;
$secondaryColor: #fa1212;
$tertiaryColor: #343438;

:root {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

// auth
.bg-auth {
  position: absolute;
  background: url('../img/bg-auth.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-auth {
  background-color: $primaryColor !important;
  color: white;

  .form-control {
    color: white;
  }

  .form-control:hover,
  .form-control:focus {
    background-color: $tertiaryColor;
    color: white;
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .divider {
    background-color: $secondaryColor;
    width: 40%;
    height: 4px;
    border-radius: 1rem;
  }

  .btn-auth {
    background-color: $secondaryColor;
    color: white;
    border-radius: 1.5rem;
  }

  .btn-google {
    background-color: white;
    color: $primaryColor;
    border-radius: 1.5rem;
  }

  .footer {
    * {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
      color: white;
    }

    .bg {
      background-color: $primaryColor;
    }

    // navbar
    .navbar {
      background-color: $primaryColor;
      a {
        color: white;
      }
      a.active {
        color: $secondaryColor !important;
        font-weight: bold;
      }
      .btn-login {
        background-color: $secondaryColor;
        border: none;
      }
      .btn-login:hover {
        background-color: $secondaryColor;
        border: none;
      }
    }
    // end navbar

    // film
    .card-film {
      height: 334px;

      .card {
        height: inherit;
        background-image: url('../img/gatot-kaca.png');
        background-size: cover;
        border-radius: 1rem;

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }
    }
    // end film

    // sub title

    .sub-title {
      border-bottom: 3px solid $secondaryColor;
      width: fit-content;
      padding-bottom: 0.5rem;
    }

    // end subtitle

    // auth
    .bg-auth {
      position: absolute;
      background: url('../img/bg-auth.png');
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .btn-link {
        color: $secondaryColor;
        text-decoration: none;
      }
    }
  }
  // end auth

  // input
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .form-control {
      background-color: $tertiaryColor;
      border: none;
    }

    i {
      font-size: 1.2rem;
    }
  }
  // end input

  // home
  .jumbotron {
    background-image: url('../img/jumbotron.png');
    color: white;
    background-size: cover;
  }

  .accordion {
    .accordion-item {
      .accordion-button {
        background-color: $tertiaryColor;
        color: white;
      }

      .accordion-body {
        background-color: $tertiaryColor;
      }
    }
  }

  .send-question {
    .form-control,
    .form-control:focus {
      background-color: $tertiaryColor;
      border: none;
      color: white;
    }

    .btn-send {
      background-color: $secondaryColor;
      color: white;
    }
  }
  // end home

  // input
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .form-control {
      background-color: $tertiaryColor;
      border: none;
    }

    i {
      font-size: 1.2rem;
    }
  }

  .form-control,
  .form-control:focus {
    background-color: $tertiaryColor !important;
    border: none !important;
    color: white !important;
  }
  // end input

  // button
  .btn-primary {
    background-color: $secondaryColor !important;
    border: none !important;
  }
  // end button

  // pagination
  .pagination {
    .page-item {
      margin: 0.5rem;
    }
    .page-link {
      border-radius: 0.5rem;
      border: none;
      background-color: $tertiaryColor !important;
      color: white !important;
    }
    .page-link.active {
      background-color: $secondaryColor !important;
    }
  }
  // end pagination

  // page profile
  .container-menu {
    border-radius: 1rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        background-color: $primaryColor;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  // end page profile

  // page transaksi
  .card-transaksi {
    background-color: $tertiaryColor !important;

    .card-transaksi-item {
      background-color: $primaryColor !important;
    }
  }
  // end page transaksi

  // page checkout
  .navigation {
    background-color: #000 !important;

    a {
      text-decoration: none;
      color: white;
    }
  }
  // end page checkout

  footer {
    .menu {
      list-style: none;
      padding: 0;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
