* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.bg {
  background-color: #19191B;
}

.navbar {
  background-color: #19191B;
}
.navbar a {
  color: white;
}
.navbar a.active {
  color: #FA1212 !important;
  font-weight: bold;
}
.navbar .btn-login {
  background-color: #FA1212;
  border: none;
}
.navbar .btn-login:hover {
  background-color: #FA1212;
  border: none;
}

.card-film {
  height: 334px;
}
.card-film .card {
  height: inherit;
  background-image: url("../img/gatot-kaca.png");
  background-size: cover;
  border-radius: 1rem;
}
.card-film .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.sub-title {
  border-bottom: 3px solid #FA1212;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.bg-auth {
  position: absolute;
  background: url("../img/bg-auth.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-auth {
  background-color: #19191B !important;
  color: white;
}
.card-auth .form-control {
  color: white;
}
.card-auth .form-control:hover, .card-auth .form-control:focus {
  background-color: #343438;
  color: white;
}
.card-auth .title {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-auth .divider {
  background-color: #FA1212;
  width: 40%;
  height: 4px;
  border-radius: 1rem;
}
.card-auth .btn-auth {
  background-color: #FA1212;
  color: white;
  border-radius: 1.5rem;
}
.card-auth .btn-google {
  background-color: white;
  color: #19191B;
  border-radius: 1.5rem;
}
.card-auth .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-auth .footer .btn-link {
  color: #FA1212;
  text-decoration: none;
}

.jumbotron {
  background-image: url("../img/jumbotron.png");
  color: white;
  background-size: cover;
}

.accordion .accordion-item .accordion-button {
  background-color: #343438;
  color: white;
}
.accordion .accordion-item .accordion-body {
  background-color: #343438;
}

.send-question .form-control, .send-question .form-control:focus {
  background-color: #343438;
  border: none;
  color: white;
}
.send-question .btn-send {
  background-color: #FA1212;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.input-container .form-control {
  background-color: #343438;
  border: none;
}
.input-container i {
  font-size: 1.2rem;
}

.form-control, .form-control:focus {
  background-color: #343438 !important;
  border: none !important;
  color: white !important;
}

.btn-primary {
  background-color: #FA1212 !important;
  border: none !important;
}

.pagination .page-item {
  margin: 0.5rem;
}
.pagination .page-link {
  border-radius: 0.5rem;
  border: none;
  background-color: #343438 !important;
  color: white !important;
}
.pagination .page-link.active {
  background-color: #FA1212 !important;
}

.container-menu {
  border-radius: 1rem;
}
.container-menu ul {
  list-style: none;
  padding: 0;
}
.container-menu ul li {
  background-color: #19191B;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.container-menu ul li a {
  text-decoration: none;
  color: white;
}

footer .menu {
  list-style: none;
  padding: 0;
}
footer .menu a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */